.video-wrapper {
  height: 70vh;

  @media (max-height: 400px) {
    height: 90vh;
  }
}

.video-gradient {
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.7)
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -70.5vh;
  height: 70vh;
  width: 100%;
  z-index: 1000;

  @media (max-height: 400px) {
    top: -90.5vh;
    height: 90vh;
  }
}

.full-video {
  -o-object-fit: cover;
  object-fit: cover;
  height: 70vh;
  width: 100%;
  top: 0px;
  left: 0px;

  @media (max-height: 400px) {
    height: 90vh;
  }
}
